{% extends 'base.html' %}
{% block title %}{% endblock title %}


{% block content%}
<h1>Se subio la data de forma exitosa</h1>

<p class="lead">Se han subido {{ count }} registros.</p>


<a href="{% url 'upload-data' %}">de regreso a subir datos</a>
<br/>
<a href="{% url 'upload-plans' %}">de regreso a subir planes</a>
{% endblock content %}