{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title%}Subir Planes{%endblock title%}

{% block content%}


<div class="card" style="max_width: 600px">
    <div class="card-header">
      Subir data de planes
    </div>
    <div class="card-body">
      <h5 class="card-title">Aqui subes los resultados de las encuentas en formato *.xls</h5>
      <br/>
        <form method="post" class="my-class" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-primary" type="submit" value="OK">
        </form>
        <br/>      
        <a href="{% url 'upload-data' %}">de regreso a subir datos</a>
    </div>
  </div>



{% endblock content%}