{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title%}Subir data{%endblock title%}

{% block content%}


<div class="card" style="max_width: 600px">
    <div class="card-header">
      Subir Resultados de Encuestas
    </div>
    <div class="card-body">
      <h5 class="card-title">Aqui subes los resultados de las encuentas en formato *.xls</h5>
      <br/>
      <form method="post" class="my-class" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-primary" type="submit" value="OK">
      </form>
      <br/>
      <a href="{% url 'upload-plans' %}">de regreso a subir planes</a>
    </div>
  </div>



{% endblock content%}